.product-detail {
    position: absolute;
    width: 1000px;
    height: auto;
    left: 453px;
    top: 185px;
    display: flex;
    flex-wrap: wrap;
    font-family: appleberry;
    font-size: 40px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 2px;
    text-align: left;
    color: rgb(255, 255, 255);
}

#prod_name {
    position: absolute;
    height: 70px;
    top: -50px;
    left: 380px;
}

#prod_cat {
    position: absolute;
    width: 400px;
    height: 40px;
    top: 36px;
    left: 390px;
    font-size: 24px;
}

#price {
    position: absolute;
    top: 140px;
    left: 370px;
    font-size: 54px;
}

#description {
    position: absolute;
    top: 250px;
    left: 0px;
    font-size: 54px;
}

.cart_add {
    position: absolute;
    width: 1000px;
    height: auto;
    left: 653px;
    top: -10px;
}

.btn-submit {
    background-color: #fff; /* Зеленый фон */
    border: none; /* Убираем границу */
    color: black; /* Белый цвет текста */
    padding: 12px 24px; /* Внутренние отступы */
    text-align: center; /* Выравнивание текста по центру */
    text-decoration: none; /* Убираем подчеркивание текста */
    display: inline-block; /* Блочно-строчный элемент */
    font-size: 16px; /* Размер шрифта */
    margin: 4px 2px; /* Внешние отступы */
    cursor: pointer; /* Курсор указателя при наведении */
    border-radius: 8px; /* Закругленные углы */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Плавные переходы для фона и масштаба */
}

.btn-submit:hover {
    background-color: black; /* Изменение цвета фона при наведении */
    color: white;
    transform: scale(1.05); /* Легкое увеличение размера при наведении */
}