{% extends "product/list.html" %}
{% load static %}
{% block title %}
 {{ product.name }}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<div class="product-detail">
    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static  'img/no_image.png' %}{% endif %}">
    <h1 id="prod_name">{{ product.name }}</h1>
    <h2 id="prod_cat">
        <a href="{{ product.category.get_absolute_url }}">
            {{ product.category }}
        </a>
    </h2>
    <br>
    <p id="price">${{ product.price }}</p>
    <p id="description">{{ product.description }}</p>
</div>
{% endblock %}